header{
    background-color: #2E3A46;
}

main{
    background-color:#1E2D3B ;
    height: 800px;
}
header img {
    width: 40px;
    margin: 0.7rem 1rem;
  }

  img {
    max-width: 100%;
  }

  .col-2-5 {
    flex: 0 0 auto;
    width: 18%;
    margin: 1%;
    padding: 25px;
    background-color: #2E3A46;
  }

  .caption {
    text-align: center;
    font-size: 14px;
    color: #807f7f;
    font-weight: 500;
  }